*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-gray: #a1a1a1;
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --dark-gray-2: hsl(0, 0%, 27%);
}
body{
    font-family: 'League Spartan', sans-serif;
    max-width: 1600px;
    color: var(--dark-gray);
    margin-inline:auto;
}
a{
    text-decoration: none;
    color: currentColor;
}
.flex{
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
}
li{
    list-style: none;
}


header{
    position: absolute;
    padding: 3rem 2rem 2rem ;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: 500px;
}
header a{
    color: var(--white);
}

main{
    display: flex;
    flex-direction: column;
}
.carousel-container{
    display: flex;
    align-items: center;
   position: relative;
   height: 70vh;
}
.carousel-container .carousel-image{
    flex:1 0 3rem ;
    max-width: 50em;
    height: 100%;
    position: relative;
}
.carousel-image .img{
    aspect-ratio:2 / 1;
    width: 100%;
    height: 100%;

}
.carousel-content{
    padding:3rem 2rem;
    max-width: 530px;
    margin-inline:auto;
    position: relative;
    flex:1 0 5rem ;
}
.carousel-content h1{
    color: var(--black);
    font-weight: 700;
    font-size: clamp(1.5rem,1vw + 2rem,2.8rem);
}
.carousel-container p,
.about-content p{
    margin: 1.3rem 0;
    line-height: 1.5;
}
.carousel-container a{
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    color: var(--dark-gray-2);
    transition: all 0.5s ease-in-out;
}
.carousel-container a:hover{
    color: var(--dark-gray);
}
.carousel-container a img{
    transition: all 0.5s ease-in-out;
}
.carousel-container a:hover img{
    filter: brightness(0) saturate(100%) invert(69%) sepia(4%) saturate(14%) hue-rotate(13deg) brightness(93%) contrast(86%);
}
.about{
    display: flex;
    justify-content: space-between;
}
.about-content{
    padding:3rem 2rem 2rem;

}
.about-content h2{
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-size: 0.95rem;
    line-height: 1.8;
}
.about img{
    max-width: 400px;
    width: 100%;
    display: block;
}
footer{
    text-align: center;
    color: var(--dark-gray);
    padding: 2rem;
    background-color: var(--black);
}
.btn{
    position: relative;
    display: flex;
    width: 100px;
    left: 100%;
    bottom: 63.5px;
}
.btn button{
    background-color: var(--black);
    border: none;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn button:hover{
    background-color: var(--dark-gray);
}
@media screen and (min-width: 55em) and (max-width: 70em) {
    .about img{
        max-width: 220px;
    }
    
  }
@media screen and (max-width:55em){
    .about{
        flex-direction: column;
    }
    .about img{
        max-width: 100%;
    }
    .carousel-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .carousel-image img{
        position: relative;
    }
    .btn{
        position: relative;
        left:0;
    }
    .about-content,.carousel-content{
        padding-inline: 1.9rem;
     
    }

    .about-content h2{
        letter-spacing: 0.5rem;
    }
}
